html {
  font-size: 10px;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-size: 1.6rem;
  max-width: 450px;
  width: 100%;
  margin: auto;
  background-color: #fafafa;
}

.common-wrap {
  position: relative;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -2px 15px 0 rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
}
main {
  position: relative;
}

