@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: #fff4ba;
  --main-color-light: #fffadf;
  --sub_color: #3a3967;
  --point-color: #6ac8d8;
  --background-color: #fffdfc;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
    font-family: 'AppleSDGothicNeoR00';
    src: url('/fonts/AppleSDGothicNeoR00.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    ascent-override: 100%;
}
@font-face {
    font-family: 'AppleSDGothicNeoB00';
    src: url('/fonts/AppleSDGothicNeoB00.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    ascent-override: 100%;
}
@font-face {
    font-family: 'AppleSDGothicNeoM00';
    src: url('/fonts/AppleSDGothicNeoM00.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    ascent-override: 100%;
}
@font-face {
    font-family: 'AppleSDGothicNeoEB00';
    src: url('/fonts/AppleSDGothicNeoEB00.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    ascent-override: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'AppleSDGothicNeoR00' !important;
}

.sub-wrap {
  max-width: 450px;
  width: 100%;
  overflow-y: auto;
  background-color: #fff;
}