@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color-dark: #ffee9b;
  --main-color: #fff4ba;
  --main-color-light: #fffadf;
  --sub_color: #3a3967;
  --point-color: #6ac8d8;
  --background-color: #fffdfc;
  --background-color-light: #fffdfc;
  --color_black: #000000;
  --color_white: #ffffff;
  --board_background: #ffffff;
  --color_dark_gray: #757575;
  --color_medium_gray: #616161;
  --color_light_gray: #fafafa;
  --modal_back: rgba(0,0,0,0.15);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-size: 1.6rem;
  max-width: 450px;
  width: 100%;
  margin: auto;
  background-color: #fafafa;
}
.dark body {
  background-color: #e0e0e0;
}
.scrollWrapper {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollWrapper::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 10px;
  font-size: 62.5%; /* 1rem = 10px */
}

button:focus, a:focus {
  outline: none;
}
button:focus-visible, a:focus-visible {
outline: 2px solid var(--point-color)
}

.wrapper .spinArea {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.loaded .spinArea {
  opacity: 1;
}

.dark {
  --background: #424242;
  --main-color-dark: #7f8a99;
  --main-color: #7f8a99;
  --main-color-light: #9aa6b3;
  --sub_color: #b9b6ff;
  --point-color: #4fb1c0;
  --background-color: #1d1c1a;
  --background-color-light: #7f8a99;
  --color_black: #e3e3e3;
  --color_white: #ffffff;
  --board_background: #1d1c1a;
  --color_dark_gray: #fafafa;
  --color_medium_gray: #eeeeee;
  --color_light_gray: #e0e0e0;
  --modal_back: rgba(255,255,255,0.25);
}