@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: #fff4ba;
  --main-color-light: #fffadf;
  --sub_color: #3a3967;
  --point-color: #6ac8d8;
  --background-color: #fffdfc;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.scrollWrapper {
  overflow: auto;
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;  /* Firefox */
}
.scrollWrapper::-webkit-scrollbar {
  display: none;
}

.sub-wrap {
  width: 100%;
  background-color: #fff;
}